<header>
  <div class="logo-h1">
    <img src="/img/logo-PhotoRoom.png-PhotoRoom.png" alt="Logo" />
    <h1>Bloc de Notas</h1>
  </div>
  <nav class="navbar">
    <ul class="principalUl">
      <li class="dropdown navbar-content">
        <a href="#">Editar</a>
        <ul>
          <li class="editar-content">Color</li>
          <li class="editar-content">Fuente</li>
          <li class="editar-content">Fondo</li>
        </ul>
      </li>

      <li class="navbar-content">
        <a href="/preguntas">Preguntas Frecuentes</a>
      </li>

      <li class="navbar-content">
        <a href="/inicioSesion">Iniciar Sesión</a>
      </li>
    </ul>

    <div class="principalColores">
      <div
        class="yellow contenedorColor"
        onclick="cambiarColorCuerpo('yellow')"
      ></div>
      <div
        class="blue contenedorColor"
        onclick="cambiarColorCuerpo('blue')"
      ></div>
      <div
        class="red contenedorColor"
        onclick="cambiarColorCuerpo('red')"
      ></div>
      <div
        class="white contenedorColor"
        onclick="cambiarColorCuerpo('white')"
      ></div>
    </div>
  </nav>
</header>
