<header>
  <div class="headerContenido">
    <i class="fas fa-book fa-4x"></i>
    <h1>Bloc de Notas</h1>
  </div>
  <nav class="navbar">
    <ul class="navbarContenido">
      <li class="dropdown navbar-li">
        <a href="#">Editar</a>
        <ul class="dropdownContenido">
          <li class="dropdownLi">Color</li>
          <li class="dropdownLi">Fuente</li>
          <li class="dropdownLi">Fondo</li>
        </ul>
      </li>

      <li class="navbar-li">
        <a href="/preguntas">Preguntas Frecuentes</a>
      </li>

      <li class="navbar-li">
        <a href="/usuario/iniciarSesion">Iniciar Sesión</a>
      </li>
    </ul>
    <div class="contenedorColores">
      <div
        class="yellow contenedorColor"
        onclick="cambiarColorCuerpo('yellow')"
      ></div>
      <div
        class="blue contenedorColor"
        onclick="cambiarColorCuerpo('blue')"
      ></div>
      <div
        class="red contenedorColor"
        onclick="cambiarColorCuerpo('red')"
      ></div>
      <div
        class="white contenedorColor"
        onclick="cambiarColorCuerpo('white')"
      ></div>
    </div>
  </nav>
</header>
