<head>
  <meta charset="UTF-8" />
  <title><%= title %> - Bloc de Notas</title>
  <!-- fontawesome -->
  <script
    src="https://kit.fontawesome.com/a42b43434c.js"
    crossorigin="anonymous"
  ></script>
  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css" />
  <!-- JAVASCRIPT -->
  <script src="/js/function.js"></script>
</head>
