<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <!-- PLANTILLA -->
      <div class="centro">
        <h3>Fijadas</h3>
        <div id="guardada">
          <%- include('./partials/cicloForNotas') %>
          <a href="/notas/formularioNota" class="btn-1">
            <i class="fas fa-edit fa-2x"></i>
          </a>
        </div>
      </div>

    <%- include('./partials/footer') %>
  </body>
</html>
