<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Mi bloc de notas con estilo</title>
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/a42b43434c.js" crossorigin="anonymous"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css" />
  <!-- JAVASCRIPT -->
  <script src="/js/function.js"></script>
</head>

<body>
  <!-- HEADER -->
  <header>
    <div class="logo-h1">
      <img src="/img/logo-PhotoRoom.png-PhotoRoom.png" alt="Logo">
      <h1>Bloc de Notas</h1>
    </div>
    <nav class="navbar">
      <ul>
        <li class="dropdown">
          <a href="#" class="navbar-content">Editar</a>
          <ul>
            <li><a href="#">Color</a></li>
            <li><a href="#">Fuente</a></li>
            <li><a href="#">Fondo</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="navbar-content">Ayuda</a>
          <ul>
            <li><a href="/preguntas">Preguntas Frecuentes</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <!-- PLANTILLA -->
  <section id="contenedor" class="container">
    <div class="centro">
      <h3>Nuevo</h3>
      <div class="abrirNuevo">
        <button class="btn-1" onclick="cambiarDisplayNuevo()">+</button>
      </div>
      <hr>
      <h3>Guardados</h3>
      <div id="guardada">
        <div 
        class="abrirNuevo" 
        id="borrar">Vacio</div>
      </div>
    </div>
  </section>
<!-- FORMULARIO -->
<section id="formulario" class="container"> 
  <a href="/" class="btn-1 home">
    <i class="fas fa-home"></i>
    </a>
  <div class="centro">
    <form method="GET" onsubmit="return guardar()" >
      <input autofocus required title="Este campo es obligatorio" type="text" placeholder="Titulo" id="titulo"/>
      <textarea placeholder="Ingresa tu mensaje" id="textarea" ></textarea>
      <button class="guardar" type="submit" value="Guardar">Guardar</button>
    </form>
  </div>
</section>
  <!-- FOOTER -->
  <footer class="footer">
    <h3>Sigueme en Redes Sociales</h3>
    <div class="icon-footer">
      <a href="http://www.instagram.com/jesuslotito" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="http://www.facebook.com/jesus.dominguez.5439" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <a href="http://www.twitter.com/dominguezj21" target="_blank"><i class="fa-brands fa-twitter"></i></a>
      <a href="http://www.github.com/lotito30" target="_blank"><i class="fa-brands fa-github"></i></a>
    </div>
    <p>Lotito30 © 2023. Todos los derechos reservados</p>
  </footer>
</body>

</html>