<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <section id="contenedor" class="container ">
        <div class="centro index">
            <a href="/" class="volver">
                <i class="fas fa-home fa-2x"></i>
              </a>
          <h3>Fijadas</h3>
          <div id="guardada">

           <%- include('./partials/cicloForNotas') %>

          <a href="/notas/formularioNota"><button class="btn-1"><i class="fas fa-pencil fa-2x"></i></button></a>
          </div>
        </div>

      </section>
</body>
</html>