<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/a42b43434c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Preguntas Frecuentes</title>
</head>
<body>
  <!-- como hacer un index -->
    <header>
        <div class="logo-h1">
          <img src="/img/logo-PhotoRoom.png-PhotoRoom.png" alt="Logo">
          <h1>Bloc de Notas</h1>
        </div>
        <nav class="navbar">
          <ul>
            <li class="dropdown">
              <a href="#" class="navbar-content">Editar</a>
              <ul>
                <li><a href="#">Color</a></li>
                <li><a href="#">Fuente</a></li>
                <li><a href="#">Fondo</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="navbar-content">Ayuda</a>
              <ul>
                <li><a href="preguntas.html">Preguntas Frecuentes</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </header>
      
    <div class="faq container">
        <a href="/" class="btn-1 home">
            <i class="fas fa-home"></i>
        </a>
        <div class="centro">
          <h2>Preguntas Frecuentes</h2>
          <h3>¿Cómo se usa el Bloc de Notas?</h3>
          <p>El Bloc de Notas es una herramienta para guardar notas y textos de manera fácil y rápida. Para usarlo, sigue los siguientes pasos:</p>
          <ol>
            <li>Ingresa un título para tu nota en el campo de texto del formulario.</li>
            <li>Escribe tu nota o texto en el área de texto debajo del título.</li>
            <li>Haz clic en el botón "Guardar" para guardar tu nota en la lista de notas guardadas.</li>
          </ol>
          
          <h3>¿Cómo puedo editar una nota guardada?</h3>
          <p>Para editar una nota guardada, haz clic en el título de la nota que deseas editar en la lista de notas guardadas. Esto abrirá la nota en el formulario de edición. Aquí puedes hacer cualquier cambio que desees en el título o el cuerpo de la nota y guardarla de nuevo.</p>
          
          <h3>¿Cómo puedo borrar una nota guardada?</h3>
          <p>Para borrar una nota guardada, haz clic en el botón "Eliminar" al lado del título de la nota que deseas borrar. Esto eliminará la nota de la lista de notas guardadas.</p>
          
          <h3>¿Cómo puedo cambiar el color, la fuente o el fondo de mi nota?</h3>
          <p>Para cambiar el color, la fuente o el fondo de tu nota, haz clic en el botón "Editar" en la barra de navegación en la parte superior de la página y selecciona la opción correspondiente en el menú desplegable.</p>
          
          <h3>¿Cómo puedo obtener ayuda si tengo problemas con el Bloc de Notas?</h3>
          <p>Si tienes algún problema con el Bloc de Notas, por favor contáctanos a través de la página de contacto en nuestra página web y haremos todo lo posible para ayudarte.</p>

        </div>
      <!-- FOOTER -->
  <footer class="footer">
    <h3>Sigueme en Redes Sociales</h3>
    <div class="icon-footer">
      <a href="http://www.instagram.com/jesuslotito" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="http://www.facebook.com/jesus.dominguez.5439" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <a href="http://www.twitter.com/dominguezj21" target="_blank"><i class="fa-brands fa-twitter"></i></a>
      <a href="http://www.github.com/lotito30" target="_blank"><i class="fa-brands fa-github"></i></a>
    </div>
    <p>Lotito30 © 2023. Todos los derechos reservados</p>
  </footer>
      
</body>
</html>