@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
:root{
  --letra: 'Roboto Slab', serif; 
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: var(--letra);
  min-width: 420px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(245, 208, 63,0.2);
  background: url("/img/fondohtml.jfif");

/* HEADER */
}
header {
  background-color: #f5d03f;
}
.logo-h1 {
  display: flex;
  align-items: center;
  margin-left:35px;
  text-shadow: 5px 3px .3rem #222222;
}
.logo-h1 img {
  width: 110px;
  height: 110px;
  padding: 15px;
}

/* DROPDOWN */
.navbar ul {
  background-color: #333;
  display: flex;
}
.navbar ul li a {
  color: #ebebeb;
}
.navbar a {
  display: block;
  padding: 10px 16px;
  position: relative;
}
.navbar .navbar-content::after{
  content: "";
  position: absolute;
  left:15px;
  bottom:4px;
  width:60%;
  height:3px;
  background-color: #fff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .5s;
  transform-origin: left;
}
.navbar .navbar-content:hover::after{
  transform: scaleX(1);
}
.dropdown ul li{
  width:100%;
  border-bottom: 1px solid #000;
}
.dropdown ul {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgb(235, 235, 235);  
  border-radius: 10px;
}
.dropdown ul li a{
  color:#1e1e1e;
}
.dropdown:hover ul {
  display: block;
}
.dropdown ul li a:hover {
  background-color: rgba(255, 255, 224, 0.5);
  color: #000;
  font-size: 17px;
}
.dropdown li {
  width:105px;
  text-align: center;
}

/* incio de sesion */

#registrarse,
#recuperarContrasena{
  display: none;
}

.conteiner{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.volver{
  position: absolute;
  top: 1%;
  left: 1%;
  background-color: #000;
  padding: 1rem;
  border-radius: 50%;
}
.volver i{
  color: rgb(255, 255, 255);
}
.volver:hover i{
  color:#000;
}
.volver:hover{
  background-color: #fff;
}
.conteinerContent{
  background-color: rgb(70, 70, 70);
  border: .1rem solid #fff;
  border-radius: .5rem;
  padding: 1rem 2rem 1rem 2rem;
  font-weight: 600;
  text-align: center;
  width: 450px;
  padding: 50px;
  color: #fff;
}

.conteinerContent h1{
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #fff;
}
.contenidoinicioSesion{
  display: flex;
  flex-direction: column;  
}

form{
  display: flex;
  flex-direction: column;
  line-height: 1;
}
.absolute{
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #fff;
  margin: 0 auto;
}

.absolute label{
  position: absolute;
  top: 50%;
  pointer-events: none;
  font-weight: 500;
  margin-left: .5rem;
  font-size: 1.1rem;
  transition: .5s;
  color: #ababab;
}

.absolute input:focus + label,
.absolute label.active{
  top:3px;
  font-weight: bold;
}

.absolute input{
  width: 95%;
  height: 20px;
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
  top:50%;
  padding: 0 .5rem;
  font-size: 1.2rem;
  color: #fff;
}
.absolute input::placeholder{
  color: #fff;
}
.absolute span i{
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 1.2rem;
}
form button{
  color: white;  
  padding: .5rem;
  margin: 0 auto;
  width: 50%;
  margin-top: 1rem;
  font-size: medium;
  cursor: pointer;
  border-radius: .5rem;
  box-shadow: 0 0 .5rem #666;
}

form .submit{
  background-color: rgb(7, 168, 130);
}
form .submit:hover{
  background-color: rgb(4, 180, 138);
}
form .reset{
  background-color: rgb(187, 2, 2);
}
form .reset:hover{
  background-color: rgb(218, 2, 2);
}
.recuerdame{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: .5rem;
  margin: .5rem 0;
  }

.contenidoinicioSesion p{
  text-align: center;
  margin-top: .5rem;
  font-size: .9rem;
}
.contenidoinicioSesion a{
  text-decoration: none;
  color: rgb(242, 255, 0);
  font-weight: 700;
  margin-left: 3px;
  text-transform: capitalize;
}
.contenidoinicioSesion a:hover{
  color: rgb(212, 198, 0);
}

.btn-redSocial{
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 100%;
  gap: .5rem;
}
.btn-redSocial div{
  height: 2.5rem;
  text-align: center;
  border-radius: .3rem;
  background-color: #ffffff;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-redSocial div:hover{
  background-color: #eeebeb;
}
.btn-redSocial div span{
  color:black;
}
.btn-redSocial .google img{
  width: 35px;
  margin-left: -15px;
}

.btn-redSocial .fb img{
  width: 35px;
}
#recuperarContrasena .conteinerContent{
  width: 600px;
  padding: 50px; 
}
#recuperarContrasena h3{
  margin-top: 1rem;
}
#recuperarContrasena form{
  margin: 0 auto;
  width: 90%;
}

/* fin incio de sesion */
/* MAIN */
#contenedor{
  display:block;
}
.container {
  padding: 15px;
  border: 1px solid #000;
  background-color: #ebebeb;

}
.container .centro {
  background-color: white;
  border: 1px solid #000;
  padding:0;
  border-radius: 3px;
  padding:15px;
}
.container h3 {
  margin: 10px 5px;
  font-size: 800;
}
.container .abrirNuevo {
  width: 5em;
  height: 5em;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-left:5px;
}
.btn-1 {
  width: 20px;
  height: 20px;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#guardada {
  display: flex;
  flex-wrap: wrap;
  gap:15px;
  justify-content: space-evenly;
}
#guardada div {
  border: 1px solid #000;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  padding: 10px;
  margin-top:5px;
}
#guardada div p:nth-child(1) {
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
#guardada div p {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* FORMULARIO */
#formulario {
  display: none;
}
#formulario .titulo{
  display: flex;
  gap: 5rem;
  align-items: center;
}
#formulario .titulo span{
  font-size: 1.5rem;
  font-weight: 500;
}
#formulario .centro{
  padding-top:25px;
}

input::placeholder{
  font-size: 19px;  
}
textarea::placeholder{
  font-size: 18px;
}
input::placeholder {
  text-transform: uppercase;
  color:#000;
}
textarea,
input {
 padding: 12px;
}
textarea {
  height:490px;
  resize: none;
  width: 100%;
  outline: none;
  font-size: 16px;
}

/* PREGUNTAS FRECUENTES */
.faq h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}
.faq li{
  list-style-type: square;
}
.faq h3 {
  font-size: 24px;
  margin-top: 40px;
}

.faq ol {
  margin-left: 40px;
}



/*FOOTER*/
.footer{
  background: black;
  text-align: center; 
  padding:10px;
}

.footer h3{
  color: #ffffff;
  font-size: 14px;
}

.footer p{
  color: #ffffff;
  font-size: 15px;
}

.icon-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
}
.sigueme{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-transform: capitalize;
  background-color: #fff;
  border-radius:.5rem;
  padding: .5rem;
  gap: .5rem;
  box-shadow: 0 0 .5rem #fff;
}
.sigueme p{
  color: black;
}

.fa-brands{
  font-size: 1rem; 
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.fa-instagram{
  background: linear-gradient(to top right, #fcde30, #e9712a, #d2313b, #ae4198, #7540a1, #5443a8);
  color: #ffffff;
}

.fa-facebook{
  background: #1E4595;
  color: #ffffff;
}

.fa-facebook:hover{
  background: #0655f3;
  
}

.fa-twitter,
.fa-github{
  background: linear-gradient(to right top, #42a9ec, #358de6);
  color: #ffffff;
}

.fa-twitter:hover,
.fa-github:hover,
.fa-facebook:hover,
.fa-instagram:hover{
  color:#000;

}
